.sitenav {
    display: flex;
    margin-left: 154px;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.3;
}

.item_contact {
margin-left: 20px;
}

.sitenav__link {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
border: 1px solid #1E2D3D;
border-right: none;
color: #607B96;
    text-decoration: none;
}


.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #FEA55F;
    position: absolute;
    left: 0;
    bottom: -2px;
    pointer-events: none;
}

.active {
  
    color: #fff;
    
    text-decoration: none;
    position: relative;

    .sitenav .sitenav & {
        color: var(--accent-text-color);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
}
