.sitenav {
    display: flex;
    margin-left: 154px;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.3;
}

.sitenav__item {
    margin-right: 60px;
}


.sitenav__link {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
border: 1px solid #1E2D3D;
color: #607B96;
    text-decoration: none;
}

.active::after {
    content: "";
    width: 140%;
    height: 3px;
    background: #FEA55F;
    position: absolute;
    left: 0;
    bottom: -15px;
    pointer-events: none;
}

.sitenav__linkcurrent {
    color: #fff;
    display: block;
    text-decoration: none;
    position: relative;

    .sitenav .sitenav & {
        color: var(--accent-text-color);
    }
}
